* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: #000;
}

#background {
  width: 1000px;
  height: 600px;
  background: url(./img3.jfif) no-repeat center center/cover;
  margin: 100px 350px;
}

.container {
  /* position: relative; */
  display: block;
  box-sizing: border-box;
  color: #fff;
  max-width: 800px;
  margin: auto;
}

.header {
  overflow: auto;
  background: #fff;
  color: #2419c4;
}

.header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
  margin: 10px 20px;
}

.header ul {
  list-style: none;
}

.header .h-left ul {
  float: left;
}

.header .h-left ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 15px;
}

.header .h-right ul {
  float: right;
  margin-right: 20px;
}

.header .h-right ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 15px;
}

.header ul li:hover,
.header .h-left .current {
  background: #eee;
  border: none;
  border-bottom: #ee7e06 1px solid;
  cursor: pointer;
}

.body {
  margin-top: 100px;
  padding-left: 50px;
  
}

.body h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .6in;
}

.primary {
  border: none;
  border-bottom: #ee7e06 1px solid;
}

.body p {
  margin-top: 30px
}

button {
  display: inline-block;
  margin-top: 50px;
  padding: 15px 30px;
  background: #ee7e06;
  border: #ee7e06 1px solid;
  color: #fff;
  cursor: pointer;
}

.btn-1 {
margin-left: 10px;
background: none;
border: #fff solid 1px;
}

.footer {
  margin-top: 25px;
  float: right;
  width: 25%;
  font-size: small;
}



.clr {
  clear: both;
}

.end{
  background: #fff;
  height: 10px;
  margin-top: 12px;
}